.App {
	display: flex;
	gap: 16px;
	align-items: flex-start;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 260px));
	flex: 1;
	gap: 14px;
	margin-bottom: 16px;
}

aside {
	position: sticky;
	top: 8px;
	width: 300px;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

@media (max-width: 550px) {
	.App {
		flex-direction: column;
		align-items: center;
	}
	aside {
		position: static;
		max-width: 300px;
		align-self: initial;
	}
}
