body {
	background: url(../public/bg2.png);
	background-attachment: fixed;
	background-size: 10px;
}

button.link {
	background: none;
	padding: 0 !important;
	margin: 0;
	font: inherit;
	box-shadow: none !important;
	color: #00f;
	min-width: auto;
	min-height: auto;
	cursor: pointer;
	text-decoration: underline;
	outline-offset: 1px !important;
}
